{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="sowhat highlight">
	<h5>"{{question}}"</h5>
	<div class="row">
    	<h4>{{percent_no}}% of users responded NO</h4>
  	</div>
	
	<h1 class="center bignbold">What can we do?</h1>
	</div>

	<div class="center">
		<h5>Share your experiences and resources to help others explore this topic.</h5>
		<h5>Through learning about others, we can build empathy and work towards equality.</h5>
	</div>

	<div class="highlight">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
		    var disqus_shortname = 'whatprivilege';
		    
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>
	<br>
	<div class="center">
        <a class="button button-primary" href="/question">Explore other topics</a>
	</div>
</div>
{% endblock %}