{% load static %}
<div class="row footer">
    <h6>Created by 
        <a href="http://www.evykassirer.com/" target="_blank">Evy</a>, 
        <a href="http://joeyrideout.com/" target="_blank">Joey</a>, and 
        <a href="https://github.com/annalorimer" target="_blank">Anna</a> at
        <a href="http://deltahacks.io" target="_blank">deltaHacks</a>.
        Content from
        <a href="http://systers.org/wiki/communities/doku.php?id=wiki:ghc:ghc14:what_do_you_mean_it_isn_t_a_meritocracy_bof">GHC</a>.
        Source on 
        <a href="http://github.com/evykassirer/whatprivilege" target="_blank">GitHub</a>.
    </h6>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
      <img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" />
    </a>
</div>
