{% load staticfiles %}
<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>What Privilege?</title>
<meta name="description" content="Learn about privilege!">
<meta name="author" content="Evy, Anna, Joey">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href={% static "whatprivilege/normalize.css" %}>
<link rel="stylesheet" href="{% static "whatprivilege/skeleton.css" %}">

<link rel="stylesheet" href="{% static "whatprivilege/utility.css" %}">
<link rel="stylesheet" href="{% static "whatprivilege/style.css" %}">
<link rel="stylesheet" href="{% static "whatprivilege/layout.css" %}">
<link rel="stylesheet" href="{% static "whatprivilege/animation.css" %}">


<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="{% static "whatprivilege/favicon.png" %}">
