{% extends 'base.html' %}
{% block content %}
<div class="container center">
  <div class="row intro">
    <h5>Read the following questions and answer yes or no, based on your experiences.</h5>
    <h5>Answer truthfully. You may skip questions if you wish.</h5>
    <h5>Your answer to the following questions does not determine your worth as a person, it's just a reflection .... [edit this stuff later]</h5>
  </div>
<a class="button button-primary" href="/question">Begin</a>
</div>
{% endblock %}
