{% block content %}
  <div class="container center">
    <div class="row intro">
      <h5 class="italics"> "The purpose of this activity is to learn to recognize how power and privilege can affect our lives even when we are not aware it is happening. The purpose is not to blame anyone for having more power or privilege or for receiving more help in achieving goals, but to have an opportunity to identify both obstacles and benefits experienced in our life." (<a href="http://www.albany.edu/ssw/efc/pdf/Module%205_1_Privilege%20Walk%20Activity.pdf">Source</a>)</h5>

      <h5>Answer the following questions truthfully.</h5>
      <h5>You may skip questions if you wish.</h5>
      
    </div>
  <a class="button button-primary" href="/question">Begin</a>
  </div>
{% endblock %}
