{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container center">
    <div class="highlight middle">
        <form id="qform" action="/question/" method="post">
            {% csrf_token %}
            <div id="step1">
                <div class="row question">
                    <div class="twelve columns">
                        <h4>{{ question.text }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <button class="button-primary" id="no">No</button>
                        <button class="button-primary" id="yes">Yes</button>
                    <div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <input class="button" id="skip" type="submit" value="skip">
                    </div>
                </div>
            </div>
            <input class="hidden" type="text" name="qnumber" value="{{ question.id }}">
            <input class="hidden" type="text" name="yesno" id="yesno" value="">
            <div id="step2" class="hidden">
                {% if workshop_percent_no >= 0 %}
                    {% include "bar.html" with percent_no=workshop_percent_no workshop=True %}
                {% endif %}
                {% include "bar.html" with percent_no=percent_no %}
                <div class="row spaced">
                    <div class="twelve columns">
                        <input class="button-primary" id="next" type="submit" value="Next">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <h4 class="bottom-right">Question {{ question_number }}/{{ question_total }}</h4>
</div>
{% endblock %}

{% block script %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src={% static "whatprivilege/answer.js" %}></script>
    {{ block.super }}
{% endblock %}

