<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>What Privilege?</title>
  <meta name="description" content="Learn about privilege!">
  <meta name="author" content="Evy, Anna, Joey">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={% static "whatprivilege/normalize.css" %}>
  <link rel="stylesheet" href="{% static "whatprivilege/skeleton.css" %}">
  <link rel="stylesheet" href="{% static "whatprivilege/privilege.css" %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container center">
    <div class="row question">
      <h3>{{ question }}</h3>
    </div>
    <div class="row">
      <div class="three columns">&nbsp</div>
      <div class="three columns">
        <button class="button-primary">Yes</button>
      </div>
      <div class="three columns">
        <button class="button-primary">No</button>
      </div>
      <div class="three columns"> &nbsp</div>
    </div>
  </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
