.title {
	padding-top: 5%;
	background-color: #C285FF;
}

.center {
	text-align: center;
}

.intro{
	margin-top: 5%;
	line-height: 1;
}

.question {
	margin-top: 2em;
}

.italics {
	font-style: italic;
}

.hidden {
	display: none;
}

#next {
	display: none;
}