.left { 
     text-align: left;
}	

.icon {
  margin-top: 10px;
  text-align: right;
}

.center {
	text-align: center;
}

.intro {
	margin-top: 20%;
  margin-bottom: 20%;
  padding-left: 2em;
  padding-right: 2em;
}

.source {
  color: #555;
  font-size: 1.2rem;
}

.right-border {
  border-right: 1px;
  border-color: #222;
}

.question {
	margin-top: 25%;
}

.header { /* Static header banner. */
  text-align: center;
  top: 0px;
  position: fixed; /* Keep banner fixed at top of page. */
  height: 52px; /* Height of fixed banner. */
  overflow: hidden;
  width: 100%; /* Span banner across entire page. */
  z-index: 100; /* Raise banner above other page content. */
  background-color: rgba(255,255,255, 0.8); /* Make banner slightly transparent. */
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #DBDBDB;
}

.highlight {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0px 1px 1px 1px #DBDBDB; 
}

.footer {
  text-align: center;
  bottom: 0px;
  max-height: 48px;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  width: 100%;
  border-top: solid;
  border-top-width: 1px;
  border-color: rgb(255, 255, 255);
}

.footer > h6, a {
  color: #555;
  margin-bottom: 2px;
}

.footer > h6 > img {
  height: 16px;
}

.under-banner {
  margin-top: 60px;
  width: 100%;
}
.under-banner th {
  padding-left: 2em;
  padding-right: 2em;
}
.under-banner td {
  padding-left: 2em;
  padding-right: 2em;
}

.banner img {
  max-height: 32px;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10%;
}

.italics {
	font-style: italic;
}

.hidden {
	display: none;
}

.inline {
	display: inline;
}

.spaced {
  padding-top: 2em;
}

.background {
	background-image: url("gplaypattern.png");
}

.progress {
  right: 10px;
  margin: 48px;
  bottom: 0px;
  position: fixed;
}
