.title {
	padding-top: 5%;
	background-color: #C285FF;
}

.center {
	text-align: center;
}

.intro{
	margin-top: 5%;
	line-height: 1;
}

.question {
	margin-top: 2em;
}

.header { /* Static header banner. */
  text-align: center;
  top: 0px;
  position: fixed; /* Keep banner fixed at top of page. */
  height: 50px; /* Height of fixed banner. */
  overflow: hidden;
  width: 100%; /* Span banner across entire page. */
  z-index: 100; /* Raise banner above other page content. */
  background-color: rgba(255, 255, 255, 0.85); /* Make banner slightly transparent. */
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: rgb(0, 0, 0);
}

