/*
 * Site visual style 
 */

.highlight {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  top: 53px;
  margin-top 2rem;
  padding: 2rem;
  box-shadow: 0px 1px 1px 1px #DBDBDB;
}

.highlight p {
  font-size: 1.5em;
  max-width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.highlight a {
  margin-bottom: 25px;
}

.source { /* Link to quote's source shouldn't be too distracting. */
  color: #555;
  font-size: 1.2rem;
}

.background {
  background-image: url("gplaypatterndarker.png");
}

.clickable-result:hover {
    background-color: rgba(231, 251, 252, 0.9);
    cursor: default;
}

.bignbold {
  font-style: bold;
  color: #33C3F0;
}

.sowhat {
  margin-bottom: 5%;
}

@media only screen and (max-device-width: 480px) {

  .results-title {
    display:none;
  }

  .sowhat{
    text-align: center;
  }
}
